ul{
display: flex;
}
li{
    display: flex;
    margin-left: 50px;
    margin-top: 30px;
    color:white;
    font-size: 24px;
  
    
}
nav{
  @media (max-width:620px) {
   display: none;
  }
}
    .burger-icon {
      width: 20%;
      @media (min-width:621px){
        display: none;
      }
      @media (max-width:620px){
        display: block;
      }
    }
  
  
      

  

.headerr{
  position: sticky;
  top: 0;
  z-index: 1;
}

.conteiner{
    display: flex;
    background-color:rgb(79, 232, 255);
  width: 100%;
  justify-content: space-between;
  
}
.pic{
  
    width: 100px;
    border-radius: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    
}


   .a {
        color: inherit;
        text-decoration: none;
      }
     
      .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
       
        padding-top: 100px;
        width: 100%;
    }
    .col{
        padding-bottom: 40px;
        
    }
   
   h1{
    font-size: 60px;
    text-align: center;
    padding-top: 40px;
   
   }
   .h1{
    color: rgb(79, 232, 255) !important;
   }
   .carousel{
    width: 100%;

    padding-top: 20px;
   }
   .picc{
    width: 100%;
   }
  .conteinerr1{
    display: flex;
    align-items: center;
    justify-content: center;
  }
.production-div{
  margin-left: 38%;
  width: 350px;
  border-color:  rgb(79, 232, 255) ;
  background-color:  rgb(79, 232, 255) ;
   padding-left:40px ;
   margin-top: 30px;
   border-radius: 40%;
   @media (max-width:800px){
    width: 100%;
    margin-left: 0%;
   }
}

.production-div1{
  margin-left: 38%;
  width: 700px;
  border-color:  rgb(79, 232, 255) ;
  background-color:  rgb(79, 232, 255) ;
   padding-left:40px ;
   margin-top: 30px;
   border-radius: 10%;
   margin-left: 10%;
   @media (max-width:800px){
    width: 100%;
    margin-left: 0%;
   }
}




  .production-div, .cont4, .btnn{
    display: flex;
    
  }
  .pico{
    width: 100%;

  }
  .divv{
    width: 40%;
    height: 70%;
    margin-top: 50px;
  }
  .cont4{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
    margin-top: 30px;
    
 
   
    @media (max-width:888px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .production{
    font-size: 40px;
    
  margin-bottom: 20px;
  margin-top: 20px;
 color: white;
  }
.btnn{
  margin-left: 48%;
  margin-bottom: 20px;
}
.aa{
  
  color: white;
  text-decoration: none;
  font-size: 21px;
}
.border{
  display: flex;
  justify-content: space-between;
  background-color:rgb(79, 232, 255);
  width: 100%;
  height: 100%;
  align-items: center;
  margin-top: 30px;
}
.divdiv{
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.cont5{

}
h3{
  margin-bottom: 10px;
  margin-top: 10px;
}
.divdiv1{
  margin-left: 7%;
}
.main-div{
  width: 40%;
  background-color: rgb(246, 245, 244);
  border-radius: 3%;
margin-top: 60px;
margin-left: 15px;
margin-bottom: 20px;
@media (max-width:1100px) {
  width: 100%;
}
}
h5{
  font-size: 20px;
  font-family: inherit;

}
.cild-div{
  text-align: center;
}
.ii{
  display: flex;
  margin-top: 25px;
}
.i{
font-size: 18px;
margin-left: 10px;
}
.iii{
  font-size: 18px;
  margin-left: 10px;}
  .main-divv{
display: flex;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-style: normal;
@media (max-width:1100px) {
  flex-wrap: wrap;
justify-content:center;
}
  }
   

  
  .second-div{
    margin-left: 18%;
    margin-top: 3%;
    @media (max-width:1100px){
      width: 100%;
      margin-left: 0%;
     }}
 
.second-div{
     @media (max-width:622px){
      width: 100%;
      margin-left: 0%;

     }
  }
  .flex-conteiner{
 border-style: solid ;
 border-radius: 2%;
 border-width: thin;
 border-color: rgb(171, 171, 171);
 padding-bottom: 15px;
 margin-bottom: 10px;
 
  }
  .bottom-text{
    margin-bottom: 15px;
  }

  .pp{
    display: flex;
    justify-content: space-around;
    border-color:  rgb(79, 232, 255) ;
    background-color:  rgb(79, 232, 255) ;
     padding-left:40px ;
     margin-top: 30px;
     padding-top: 10px;
     height: 70px;
  }
  .p3{
    font-size: 20px;
    color: aliceblue;

   
    animation-direction: alternate;
    animation: mymove 6s linear 3s;
    animation-fill-mode: forwards;
    position: absolute;
    animation-iteration-count: infinite;
  }



.p4{
  font-size: 20px;
  color: white;
  
  

  animation-direction: alternate;
  animation: mymove1  6s linear 1s;
  animation-fill-mode: forwards;
  position: absolute;
  animation-iteration-count: infinite;
}


@keyframes mymove1 {
  from{right: 10px;}
  to{right:1200px;} }


  @media (max-width:1100px)  {
    
    @keyframes mymove1 {
      from{right: 20%;}
      to{right:90%;} }
}



 @keyframes mymove {
    from{right: 10px;}
    to{right:1300px;} }
  
    @media (max-width:1100px)  {
    
      @keyframes mymove {
        from{right: 10%;}
        to{right:90%;} }
}
  
.button{
border-color:  rgb(79, 232, 255) ;
  background-color:  rgb(79, 232, 255) ;
color: white;
border-radius: 6%;
}

.img3{
  width: 280px;
  margin-top: 10px;
}

   .body11{
    align-items: center;
   }

   .flex-conteiner6{
    border-style: solid ;
 border-radius: 2%;
 border-width: thin;
 border-color: rgb(171, 171, 171);
 width: 30%;
 margin-top: 60px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 margin-left: 20px;
 @media (max-width:1100px) {
  width: 100%;
}

   }

   .img4{
    width: 60%;
   }
  .font{
    color: black;
    font-size: 17px;
   
  }
  p{
    color: black;
    font-size: 22px;
   
  }

  .main-divvv{
    width: 50%;
    background-color: rgb(246, 245, 244);
    border-radius: 3%;
  margin-top: 60px;
  margin-left: 10%;
 
  margin-bottom: 20px;
  padding-left: 15px;
  @media (max-width:1100px) {
    width: 100%;
    margin-left: 5%;
  margin-right: 5%;
  }

  }
  .note{
    font-size: 18px;
    color: white;
  }
  .pppp{
    color: white;
    font-size: 22px;
  }
  .mainn-div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    margin-top: 10%;
    border-color: rgb(79, 232, 255) ;
    background-color: rgb(79, 232, 255); 
    border-radius: 5%;
    padding-bottom: 20px;
    margin-left: 28%;
    @media (max-width:1100px) {
      width: 100%;
     margin-left: 0%;
    
    }
  }
  .tbs{
    width: 10%;
  }