ul{
display: flex;
}
li{
    display: flex;
    margin-left: 50px;
    margin-top: 30px;
    color:white;
    font-size: 24px;
  
    
}


.headerr{
  position: sticky;
  top: 0;
  z-index: 1;
}

.conteiner{
    display: flex;
    background-color:rgb(79, 232, 255);
  width: 100%;
  justify-content: space-between;
  
}
.pic{
  
    width: 100px;
    border-radius: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    
}


   .a {
        color: inherit;
        text-decoration: none;
      }
     
      .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
       
        padding-top: 100px;
        width: 100%;
    }
    .col{
        padding-bottom: 40px;
        
    }
   
   h1{
    font-size: 60px;
    text-align: center;
    padding-top: 40px;
   
   }
   .h1{
    color: rgb(79, 232, 255) !important;
   }
   .carousel{
    width: 100%;

    padding-top: 20px;
   }
   .picc{
    width: 100%;
   }
  .conteinerr1{
    display: flex;
    align-items: center;
    justify-content: center;
  }
.production-div{
  margin-left: 38%;
  width: 350px;
  border-color:  rgb(79, 232, 255) ;
  background-color:  rgb(79, 232, 255) ;
   padding-left:40px ;
   margin-top: 30px;
   border-radius: 40%;
}
  .production-div, .cont4, .btnn{
    display: flex;
    
  }
  .pico{
    width: 100%;

  }
  .divv{
    width: 40%;
    height: 70%;
    margin-top: 50px;
  }
  .cont4{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
    margin-top: 30px;
    
 
   
    @media (max-width:888px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .production{
    font-size: 40px;
    
  margin-bottom: 20px;
  margin-top: 20px;
 
  }
.btnn{
  margin-left: 48%;
  margin-bottom: 20px;
}
.aa{
  
  color: white;
  text-decoration: none;
  font-size: 21px;
}
.border{
  display: flex;
  justify-content: space-between;
  background-color:rgb(79, 232, 255);
  width: 100%;
  height: 100%;
  align-items: center;
  margin-top: 30px;
}
.divdiv{
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.cont5{

}
h3{
  margin-bottom: 10px;
  margin-top: 10px;
}
.divdiv1{
  margin-left: 7%;
}
.main-div{
  width: 40%;
  background-color: rgb(246, 245, 244);
  border-radius: 3%;
margin-top: 60px;
margin-left: 15px;
margin-bottom: 20px;
@media (max-width:1100px) {
  width: 100%;
}
}
h5{
  font-size: 20px;
  font-family: inherit;

}
.cild-div{
  text-align: center;
}
.ii{
  display: flex;
  margin-top: 25px;
}
.i{
font-size: 18px;
margin-left: 10px;
}
.iii{
  font-size: 18px;
  margin-left: 10px;}
  .main-divv{
display: flex;
@media (max-width:1100px) {
  flex-wrap: wrap;
justify-content:center;
}
  }
  .second-div{
    margin-left: 18%;
    margin-top: 3%;
    @media (max-width:1100px) {
      margin-left: 0%;
    }
  }
  .flex-conteiner{
 border-style: solid ;
 border-radius: 2%;
 border-width: thin;
 border-color: rgb(171, 171, 171);
 padding-bottom: 15px;
 margin-bottom: 10px;
 
  }
  .bottom-text{
    margin-bottom: 15px;
  }